body {
  background-color: #f5f6fa !important;
}

a {
  text-decoration: none;
  color: inherit;
}

/*   multi date picker custom style*/
.rmdp-range,
.rmdp-range-hover {
  background-color: #000 !important;
}
.rmdp-week-day {
  color: #000 !important;
  color: #000 !important;
}
.rmdp-day:not(.rmdp-disabled):not(.rmdp-day-hidden) span:hover {
  background-color: #000 !important;
  background-color: #000 !important;
  color: #fff;
}

.rmdp-arrow,
.rmdp-input:focus {
  border-color: #000 !important;
}
.rmdp-day.rmdp-today span {
  background-color: #000 !important;
  background-color: #000 !important;
}

input[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#ReactSimpleImageViewer {
  background-color: rgb(0 0 0 / 60%);
}

@media print {
  .print-area {
    padding: 20mm;
  }

  .print-logo {
    display: block !important;
    margin-bottom: 15px;
  }

  .hide-on-print {
    display: none;
  }
}
